@media only screen and (orientation:portrait){
    #root { display:none; }
    #warning-message { 
      display:block;
    }
}

@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}

@media (max-device-aspect-ratio: 3/4) {
  height: calc(100vw * 1.333 - 9%);
}
@media (max-device-aspect-ratio: 2/3) {
  height: calc(100vw * 1.5 - 9%);
}
@media (max-device-aspect-ratio: 10/16) {
  height: calc(100vw * 1.6 - 9%);
}
@media (max-device-aspect-ratio: 9/16) {
  height: calc(100vw * 1.778 - 9%);
}

#root {
  display:block;
}

#warning-message {
  display: block;
  z-index: 15000;
  height: 100vh;
  color:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  /* overflow-y: scroll; */
  /* overflow: hidden; */
}

h1 {
  font-weight: 400;
}
img {
  margin-top: 2%;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.a-scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.purple {
  color: #943193;
}

.BtnMenu {
  z-index: 20000;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  padding: 1.2rem;
}
.overlayCenter {
  align-items: center;
}
.modal {
  max-width: 800px;
  position: relative;
  padding: 1.2rem;
  background: red;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
}
.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
}
.closeIcon {
}
.transitionEnter {
  opacity: 0.01;
}
.transitionEnterActive {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.transitionExit {
  opacity: 1;
}
.transitionExitActive {
  opacity: 0.01;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.videoContainer {
  display: block !important;
  width: 100%;
  height: auto;
  overflow: none;
  z-index: 0;
};

.sceneStyle {
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
};